<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DICC Datos {% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}  
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  </head>

  <body>
    <!-- insert default navigation text for every page -->
    {% block sidebar %}  
    <div class="container-fluid">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/members">MEMBERS</a>
        </li>
      </ul>  
      {% endblock %}
      
      <!-- default content text (typically empty) -->
      {% block content %}  
      {% endblock %}
    </div>
  </body>
</html>
