{% extends "base_generic.html" %}
<!-- static -->
{% load static %}
<!-- content -->
{% block content %}

    <header>
        <h1>Administracion de BDD</h1>
        <nav>
            <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            </ul>
        </nav>
    </header>      
    <main>  
        usuario:  {{ usuario }} 
        {% for bdd in list_bdd %} 
        <div>
            <p> publicado: {{ bdd.ID_BD }}</p>
            <h2><a href="">{{ bdd.COD_BD }}</a></h2>
            <p>{{ bdd.DESCRIPCION }}</p>
        </div>
        {% endfor %}
    </main>
{% endblock %}   

